<img class="wallpaper" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1630546638/LoginWallpaper.jpg">

<div class="container container">
    <img class="logo" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1630547931/Logo.png">

    <form>
        <input type="text" style="top: 10vh;" class="input" id="nombreUsuario" placeholder="Nombre de usuario"><br>
        <input type="password" style="top: 15vh;" class="input" id="claveAcceso" placeholder="Contraseña"><br>
        <input type="button" class="button" value="Iniciar sesión">
    </form>
</div>

