/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-dialog-container {
    background: black !important;
    border-radius: 2vh !important;
    text-align: center !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    margin-top: 50%;
    position: absolute;
 }
